*{
    box-sizing: border-box;
}

nav ul, navl ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
    display: block;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

/* end reset and begin normal styling */

body{
    background-image: url(images/backg.png);
    background-size: cover;
}

header{
    color: white;
    text-align: center;
}

header h1{
    font-family: "Jersey 10", sans-serif;
}

header h2{
    color: white;
    padding-top: 2em;
    font-family: "Poppins", sans-serif;
}

nav ul li a{
    text-decoration: none;
}

nav ul li{
    padding-top: 20px;

}

#fournav{
    display: flex;
    gap: 40px;
    justify-content: center;
    padding-top: 50px;
}

.navblock{
    line-height: 2em;
    padding: 20px;
    background-color: #99D3FF;
    border-radius: 30px;
    width: 250px;
    height: 333px;
    flex-shrink: 0;
}

.navblock h2{
    color: white;
    font-family: "Jersey 10", sans-serif;
}