*{
    box-sizing: border-box;
}

nav ul, navl ol{
    list-style-type: none;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

h1, h2, h3, p, ul, ol{
    margin: 0;
    padding: 0;
}

/* end reset and begin normal styling */

body{
    background-image: url(images/backg.png);
    background-size: cover;
}

header{
    color: white;
    text-align: center;
}

#banner{
    height: 250px;
    /* background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 65%, rgba(0,5,103,1) 77%, rgba(167,5,238,1) 89%, rgba(190,28,163,1) 100%); */
    /* backgorund color */
    position: relative;
}

header h1{
    font-family: "Jersey 10", sans-serif;
    font-size: 3em;
    padding-top: 130px;
    font-weight: 400;
    /* position: relative; */
    z-index: 2;
}

header h2{
    color: white;
    padding-top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-size: 1.25em;
    /* position: relative; */
    z-index: 2;
}

footer{
    padding: 30px;
    padding-top: 150px;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    a{
        text-decoration: none;
        color: white;
    }
    p{
        padding-bottom: 20px;
    }
}

#container{
    width: 80%; 
    margin: auto; 
}

nav ul li a{
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    transition: background-color 1s ease-in;

}

nav ul li{
    background: #99D3FF;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-top: 25px;
    text-align: center;
    transition: background-color 1s ease-in;
}

nav ul li:hover{
    animation: shake 2s ease infinite;  
    background-color: #2F7E02;
}

@keyframes shake{
    0% {
        transform: rotate(0);
      }
      15% {
        transform: rotate(-15deg);
      }
      20% {
        transform: rotate(10deg);
      }
      25% {
        transform: rotate(-10deg);
      }
      30% {
        transform: rotate(6deg);
      }
      35% {
        transform: rotate(-4deg);
      }
      40%{
        transform: rotate(0);
      }
}

#fournav{
    display: flex;
    gap: 30px;
    justify-content: center;
    padding-top: 150px;
}

.navblock{
    line-height: 2em;
    padding: 10px;
    background: rgba(49, 183, 255, 0.60);
    border-radius: 30px;
    width: 260px;
    height: 435px;
    flex-shrink: 0;
}

.navblock h2{
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 40px;
    padding-top: 20px;
}

.closed{
    animation: openPortal 4s infinite;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.circ{
    transform: translateY(-50px);
}

#port{
    position: absolute;
    animation: closePortal 4s infinite;
    top: 0;
    left: calc(50% - 150px);
}

@keyframes openPortal {
    0%, 100% {
        opacity: 1;
        transform: scale(1);
    }
    50% {
        opacity: 0;
        transform: scale(0.5);
    }
}

@keyframes closePortal {
    0%, 100% {
        opacity: 0;
        transform: scale(0.5) rotate(360deg);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

