#input h1{
    font-family: 'Lilita One', 'sans-serif';
}

body{
    background-image: url(./images/backGr-madL.png);
    background-size: cover;
}

span{
    font-weight: bold;
}

#qmark{
    fill: #FFF;
stroke-width: 10px;
stroke: #F06;
}