body {
    font-family: Arial;
    color: #666;
    text-align: center;
}

h1{
    padding: 30px;
    margin-top: 50px;
}

h2{
    padding:30px;
}

#container {
    width: 800px;
    height: 800px;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 40px;
}

img{
    width: 100%;
    display: block;
}

#container div {
    position: absolute;
    width: 150px;
    height: 150px;
}

#container img {
    display: block;
    position: absolute;
    /* transition: all 3s ease; */
}

#topl {
    top: 0;
    left: 0;
}

#topr {
    top: 0;
    right: 0;
}

#botl {
    bottom: 0;
    left: 0;
}

#botr {
    bottom: 0;
    right: 0;
}

#center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.start {
    width: 800px;
    left: 0;
    top: 0;
}

.topl,
.topr,
.botl,
.botr,
.center {
    width: 800px;
}

.topl {
    top: 0;
    left: 0;
    filter: hue-rotate(90deg);
}

.topr {
    top: 0;
    left: 0;
    filter: hue-rotate(90deg);
}

.botl {
    left: 0;
    top: 0;
}

.botr {
    top: 0;
    left: 0;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;
}

#open article{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50vw;
    height: 50vh;
    box-sizing: border-box;
    padding: 70px;
    background-color: red;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
}

#open h2{
    padding: 20px;
    color: white;
}

#open p{
    color: white;
}


