* {
    /* box-sizing: border-box; */
}

#input h1{
    font-family: 'Lilita One', 'sans-serif';
    font-size: 7em;
    color: white;
    line-height: .5;
}

h2{
    font-family: 'Poppins', 'sans-serif';
    text-align: center;
    padding-top: 20px;
}

body{
    background-image: url(./images/backGr-madL.png);
    background-size: cover;
}

span{
    font-weight: bold;
}

form input, form label{
    display: block;
    margin: 0;
}

form input, form select{
    margin-bottom: .5em;
}

#qmark1{
    padding-left: 222px;
    transform: translateY(150px);
    animation: animate 2s infinite ease-in-out;
}

fieldset{
    margin-bottom: 30px;
}

.fixform{
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.fixlabel{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

@keyframes animate {
    0%, 100% {
        transform: translateY(136px);
    }
    50% {
        transform: translateY(162px);
    }
}

#qmark2{
    transform: rotate(165deg);
    animation: shake 1.5s infinite ease-in-out;
}

#qmark3{
    transform: translateX(975px)rotate(15deg);
    animation: shake2 1.7s infinite ease-in-out;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(165deg);
    }
    50% {
        transform: rotate(175deg);
    }
}

@keyframes shake2 {
    0%, 100% {
        transform: translateX(975px)rotate(15deg);
    }
    50% {
        transform: translateX(975px)rotate(5deg);
    }
}

#prof{
    transform: translateX(415px)translateY(52px);
    position: absolute;
    z-index: 10;
}

#qmarks h2{
        text-align: center;
        padding-top: 80px;
        padding-bottom: 60px;
        font-size: 2em;
        font-weight: 700;
}

form{
    font-family: 'Poppins', 'sans-serif';
    font-size: 1em;
}

#greeting{
    width: 200px;
}

#farewell{
    width: 445px;
    margin-bottom: 45px;
}

form input{
    width: 200px;
}

#form {
    box-sizing: border-box;
    color: white;
    padding: 30px;
    border-radius: 40px;
    border: 20px solid #FFF;
    background: #0B1984;
    width: 550px;
    height: 725px;
    margin-left: 350px;
    margin-top: 20px;
}

#form h2{
    font-family: 'Poppins', 'sans-serif';
    font-size: 1.5em;
    padding-top: 10px;
    margin-top: 0;
    margin-bottom: 40px;
}

#output{
    box-sizing: border-box;
    width: 700px;
    padding: 40px;
    border-radius: 40px;
    border: 20px solid #0B1984;
    background: #FFF;
    margin-top: 1.5em;
    transform: translateX(53.5%)translateY(-100%);
    position: relative;
    font-family: 'Poppins', 'sans-serif';
    font-size: 1em;
    font-weight: 400;
}

#output p{
    margin-left: 40px;
    padding-top: 0;
    margin-top: 0;
}

.top{
    line-height: 0;
}

main {
    position: relative;
}

input[type="text"]{
    border-radius: 15px;
    font-weight: 600;
    margin-bottom: 25px;
}

input[type="text"]:focus{
    border: 4px solid #F06; 
    border-style: dashed solid dashed solid;
    color: #ff9100;
}

select, select:focus, select option{
    border-radius: 15px;
}

input[type="radio"] {
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 2px solid #999;
    outline: none;
    transition: 0.2s all linear;
}

input[type="radio"]:checked {
    outline: none;
    border: 12.5px solid #FFAE11;
}

input[type="submit"] {
    padding: 1.2em;
    cursor: pointer;
    width: 450px;
    border: 0;
    border-radius: 5px;
    font-weight: bold;
    background-color: deeppink;
}

input[type="submit"]:hover {
    cursor: pointer;
    background-color: orange;
}

input[type="submit"]:active {
    background-color: #FFAE11;
}

/* change display flex/none between input and results to show form and results pages */
#input{
    background-color: transparent;
    display: flex;
    justify-content: center;
    width: 1200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 750px;
}

#results{
    background-color: transparent; 
    display: none;
    max-height: 750px;
    max-width: 1200px;
}

#results h1{
    text-align: center;
    padding-bottom: 40px;
    width: 100%;
    font-family: 'Lilita One', 'sans-serif';
    font-size: 4.5em;
    color: #FFAE11;
    margin-top: 50px;
    margin-left: 135px;
}

#circs{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

