* {
    box-sizing: border-box;
}

img{
    max-width: 100%;
    display: block;
    height: auto;
}

body {
    background-color: #FEFBEA;
    width: 100vw;
    height: 100vh;
    display: grid;
    place-content: center;
}

#home{
    display: flex;
    width: 100vw;
    max-width: 1200px;
    height: 100%;
    max-height: 750px;
    align-items: center;
    justify-content: end;    
}

header {
    padding: 40px;
    flex: 1;
}

h1{
    font-family: 'Luxurious Script', 'serif';
    font-size: 5.5em;
    color: #666;
    margin: 0;
} 

header h2{
    font-family: 'Playfair Display', 'serif';
    color: black;
}

p{
    font-family: 'Poppins', 'sans-serif';
    line-height: 1.5em;
}

.nav a {
    background: white;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', 'sans-serif';
    font-size: 2em;
}

#nav1 a:hover {
	color: #E4007C;
}

#nav2 a:hover {
	color: #1792f2;
}

#nav3 a:hover {
	color: #3ed54b;
}

#nav4 a:hover {
	color: #f23636;
}

#nav5 a:hover {
	color: #ef6720;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 30px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.close:hover {
    color: #999999;
}

#container {
    position: relative;
    width: 650px;
}

#container section {
    position: absolute;
}

#container div {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

#container div:hover{
    cursor: pointer;
    background-color: #fff47a97;
    border: 1px solid #fffb00;
}

#container img {
    top: 0;
    left: 0;
}

#pixs {
    flex: 1; 
}

#open {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 625px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border: 15px solid #E4007C;
    transform: translate(-50%, -50%);
}

#open h2 {
    color: #E4007C;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Luxurious Script', 'serif';
    font-size: 3em;
    width: 100%;
    text-align: center;
}

#open article {
    display: flex;
    align-items: center;
    gap: 35px;
    max-height: 100%;
    overflow: hidden;
}

#open .nav {
    flex: .1;
}

#open p {
    flex: 2;
    font-size: 1em;
    text-align: left;
}

#open2 {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 625px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border: 15px solid #1792f2;
    transform: translate(-50%, -50%);
}

#open2 h2 {
    color: #1792f2;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Luxurious Script', 'serif';
    font-size: 3em;
    width: 100%;
    text-align: center;
}

#open2 article {
    display: flex;
    align-items: center;
    gap: 35px;
    max-height: 100%;
    overflow: hidden;
}

#open2 .nav {
    flex: .1;
}

#open2 p {
    flex: 2;
    font-size: 1em;
    text-align: left;
}

#open3 {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 625px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border: 15px solid #3ed54b;
    transform: translate(-50%, -50%);
}

#open3 h2 {
    color: #3ed54b;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Luxurious Script', 'serif';
    font-size: 3em;
    width: 100%;
    text-align: center;
}

#open3 article {
    display: flex;
    align-items: center;
    gap: 35px;
    max-height: 100%;
    overflow: hidden;
}

#open3 .nav {
    flex: .1;
}

#open3 p {
    flex: 2;
    font-size: 1em;
    text-align: left;
}

#open4 {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 650px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border: 15px solid #f23636;
    transform: translate(-50%, -50%);
}

#open4 h2 {
    color: #f23636;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Luxurious Script', 'serif';
    font-size: 3em;
    width: 100%;
    text-align: center;
}

#open4 article {
    display: flex;
    align-items: center;
    gap: 35px;
    max-height: 100%;
    overflow: hidden;
}

#open4 .nav {
    flex: .1;
}

#open4 p {
    flex: 2;
    font-size: 1em;
    text-align: left;
}

#open5 {
    position: absolute;
    background-color: rgba(0,0,0,.5);
    top: 50%;
    left: 50%;
    width: 1100px;
    height: 625px;
    padding: 40px;
    padding-top: 20px;
    background-color: white;
    border: 15px solid #ef6720;
    transform: translate(-50%, -50%);
}

#open5 h2 {
    color: #ef6720;
    margin-top: 0;
    margin-bottom: 10px;
    font-family: 'Luxurious Script', 'serif';
    font-size: 3em;
    width: 100%;
    text-align: center;
}

#open5 article {
    display: flex;
    align-items: center;
    gap: 35px;
    max-height: 100%;
    overflow: hidden;
}

#open5 .nav {
    flex: .1;
}

#open5 p {
    flex: 2;
    font-size: 1em;
    text-align: left;
}

article h2{
    padding: 20px;
    margin: 0;
}

article p{
    text-align: left;
}

#topl {
    top: 188px;
    left: 208px;
}

#topr {
    top: 262px;
    right: 322px;
}

#botl {
    bottom: 350px;
    left: 177px;
}

#botr {
    bottom: 220px;
    right: 323px;
}

#center {
    bottom: 300px;
    right: 364px;
}

.topl,
.topr,
.botl,
.botr,
.center {
    width: 800px;
}

.topl {
    top: 40px;
    left: -20px;
}

.topr {
    top: 20px;
    left: -20px;
}

.botl {
    left: 20px;
    top: 20px;
}

.botr {
    top: -40px;
    left: 20px;
}

.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden{
    display: none;

}

.showing{
    display: block;
}