*{
    box-sizing: border-box;
}

p{
    font-family: 'Poppins', 'sans-serif';
    line-height: 1.7em;
    margin-bottom: 20px;
}

body{
    padding: 20px;
    background-image: url(./images/backg2.png);
    background-size: cover;
}

h1{
    text-align: center;
    font-family: 'Lilita One', 'sans-serif';
    font-size: 4em;
    color: #0B1984;
    margin-bottom: 0;
    margin-top: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 1.5em;
    text-align: center;
    font-family: 'Lilita One', 'sans-serif';
    color: #0B1984;
}

button{
    border-radius: 30px;
    background: #0B1984;
    color: white;
    padding: 15px 30px 15px 30px;
    margin: auto;
    font-family: 'Poppins', 'sans-serif';
}

button:hover{
    cursor: pointer;
    background: #0877f5;
    color: white;
}

#game {
    display: flex;
    justify-content: space-around;
    gap: 200px;
    max-width: 1500px;
    margin: 0 auto 50px auto;
}

.health {
    display: flex;
    align-items: center;
    gap: 15px;
}

#healthbar0, #healthbar1 {
    height: 300px;
    width: 225px; 
    border: 2px solid #858585;
    background-color: #ececec;
    position: relative;
    overflow: hidden;
}

#healthbar0 div, #healthbar1 div {
    height: 0%;
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    background: linear-gradient(180deg, #8fc1fa 0%, #60a8fb 50%, #0877f5 100%);
}

#fish0{
    position: relative;
    z-index: 10;
    top: 50%;
    left: 25%;
}

#fish1{
    position: relative;
    z-index: 10;
    top: 50%;
    left: 25%;
}

#gamecontrol{
    text-align: center;
    margin-top: -445px;
    padding: 5px;
}

#gamecontrol h2{
    color: #60a8fb;
    font-size: 3em;
    margin-bottom: 5px;
}

#qmark{
    margin: 30px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    margin-top: 10px;
}

#qmark:hover{
    transform: scale(1.15);
}

#overlay{
    z-index: 200;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 600px;
    height: auto;
    padding: 30px;
    background-color: white;
    border: 15px solid #0877f5;
    transform: translate(-50%, -50%);    
}

ul li{
    font-family: 'Poppins', 'sans-serif';
    line-height: 1.6em;
    padding: 5px;
}

#closeQ{
    display: block;
    margin: 30px auto 10px auto;
    text-align: center;
    width: 141px;
}

.hidden{
    display: none;
}

.showing{
    display: block;
}

#actions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    font-family: 'Poppins', 'sans-serif';
}

#or{
    margin: 10px;
}

#pass{
    width: 141px;
}

#js-score{
    margin-top: 100px;
    display: flex;
    justify-content: center;
    gap: 330px;
}

#js-score h2{
    font-size: 4em;
}

#js-score h1{
    font-size: 2.25em;
    color: #0877f5;
    justify-content: center;
}

.fish{
    display: block;
}

.shakes{
    animation: shake 1s ease-in-out 1;
}

.bg{
    background: rgba(0, 0, 0, 0.5);
}

.winner {
    animation: winner 1s ease-in-out 1;
}

@keyframes shake {
    0% {transform: translateX(0px);}
    20% {transform: translateX(-10px);}
    40% {transform: translateX(10px);}
    60% {transform: translateX(-5px);}
    80% {transform: translateX(5px);}
    100% {transform: translateX(0px);}
}

@keyframes winner {
    0% { transform: translateX(0) rotate(0deg); }
    20% { transform: translateX(-10px) rotate(-5deg); }
    40% { transform: translateX(10px) rotate(5deg); }
    60% { transform: translateX(-5px) rotate(-3deg); }
    80% { transform: translateX(5px) rotate(3deg); }
    100% { transform: translateX(0) rotate(0deg); }
}


